@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #121212;
}

/* Header Menu*/

.nav {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_items {
    padding-right: 40px;
}

.menu_items--links {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* Header Menu Buttons*/

.buttons_menu-glow {
    width: 110px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
}

.buttons_menu-glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.buttons_menu-glow:active {
    color: #000
}

.buttons_menu-glow:active:after {
    background: transparent;
}

.buttons_menu-glow:hover:before {
    opacity: 1;
}

.buttons_menu-glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Main */

.main {
    background-color: #121212;
    background-image: url("/static/images/main/back.svg");
    background-repeat: no-repeat;
    background-size: cover;

}

.main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_about {
    margin-left: 200px;
}


.main_about-h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 100px;
    font-weight: 500;
    color: white;
}

.main_about-p {
    font-size: 40px;
    font-weight: normal;
    margin-left: 250px;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.main-cards {
    padding-top: 120px;
    padding-bottom: 100px;
}

.main_about-button{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 250px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(36, 36, 36);
    transition: 0.2s;
    font-family: 'Fredoka', sans-serif;
}

.main_about-button:hover { background: rgb(134, 131, 131); }




/* Здесь уже идет страница с выбором карт */
