{% extends 'base.html' %}

{% block content %} 

<main class="main">
        <div class="main-info">
            <section class="main_about">
                <h1 class="main_about-h1">MONEYFLOW</h1>
                <p class="main_about-p">— менеджер бюджета</p>
                <button class="main_about-button" type="button">Присоединиться</button>
            </section>
            <section class="main-cards">
                <img src="/static/images/main/cards.svg" alt="cards">
            </section>
        </div>
</main>
{% endblock %}
